<!-- 
	** Author: Collin James, CS 290
	** Date: 5/10/16
	** Description: Activity: Get and Post checker, main page
-->
<!doctype html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
	<div>
		<h1>{{title}}</h1>
	</div>
	{{{body}}}
</body>
</html>