<!-- 
	** Author: Collin James, CS 290
	** Date: 5/18/16
	** Description: Activity: How-to Guide, main page
-->
<!doctype html>
<html>
<head>
	<title>SC How-to Guide: {{title}}</title>
	<script src='interaction.js'></script>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<header>
		<div class="buttons">
			<span>SoundCloud How-To Guide</span>
			<button class="btn" id="contents">Contents</button>
			<ul id="dropdown">
				<li id="introduction"><a href="/?topic=introduction">Introduction</a></li>
				<li id="getting_access"><a href="/?topic=getting_access">Getting Access to the API</a></li>
				<li id="searching_for_user_information"><a href="/?topic=searching_for_user_information">Searching for User Information</a></li>
				<li id="getting_user_information"><a href="/?topic=getting_user_information">Getting a User's Information</a></li>
				<li id="getting_track_information"><a href="/?topic=getting_track_information">Getting Track Information</a></li>
				<li id="getting_comment_information"><a href="/?topic=getting_comment_information">Getting Comment Information</a></li>
				<li id="putting_it_all_together"><a href="/?topic=putting_it_all_together">Putting It All Together</a></li>
			</ul>
		</div>
		
	</header>
	<div>
		<h1>{{title}}</h1>
	</div>
	{{{body}}}
	<footer>
		<a href="#" id="prev_page" class="button">Previous</a>
		<button id="curr_page" style="display: none;">{{topic}}</button>
		<a href="#" id="next_page" class="button">Next</a>
	</footer>
</body>
</html>