<!-- 
	** Author: Collin James, CS 290
	** Date: 5/10/16
	** Description: Activity: Get and Post checker, main page
-->
<!doctype html>
<html>
<head>
	<title>SC How-to Guide: {{title}}</title>
	<script src='interaction.js'></script>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<header>
		<div class="buttons">
			<span>SoundCloud How-To Guide</span>
			<button class="btn" id="contents">Contents</button>
			<ul id="dropdown">
				<li><a href="/?topic=introduction">Introduction</a></li>
				<li><a href="/?topic=getting_access">Getting Access to the API</a></li>
				<li><a href="/?topic=searching_for_user_information">Searching for User Information</a></li>
				<li><a href="/?topic=getting_user_information">Getting a User's Information</a></li>
				<li><a href="/?topic=getting_track_information">Getting Track Information</a></li>
				<li><a href="/?topic=getting_comment_information">Getting Comment Information</a></li>
				<li><a href="/?topic=putting_it_all_together">Putting It All Together</a></li>
			</ul>
		</div>
		
	</header>
	<div>
		<h1>{{title}}</h1>
	</div>
	{{{body}}}
</body>
</html>