<!-- 
	** Author: Collin James, CS 290
	** Date: 5/10/16
	** Description: Activity: How-To Guide
-->
<article>
	<section>
		Before you do anything, you need access to SoundCloud's API. For this you need an account at <a href="http://soundlcloud.com">SoundCloud</a>, which is outside the scope of this guide.
	</section>

	<section>
		<h1>Get a Client ID and Secret</h2>
		After creating your SoundCloud account, visit your <a href="http://soundcloud.com/you/apps/">developer page</a> and <a href="http://soundcloud.com/you/apps/new">register</a> a new app.
	</section>
	<section>
		As you can see, you will now have a <span class="special">Client ID</span> and <span class="special">Secret</span>, the former of which you will need to use in your interactions with the API. Hold on to that!
		<img src="">
	</section>
	<section>
		That part was not too painful. Now on to the fun stuff!
	</section>
</article>
<footer>
</footer>