<!-- 
	** Author: Collin James, CS 290
	** Date: 5/18/16
	** Description: Activity: How-To Guide
-->
<article>
	<section>
		Before you do anything, you need access to SoundCloud's API. For this you need an account at <a href="http://soundlcloud.com">SoundCloud</a>, which is outside the scope of this guide.
	</section>

	<section>
		<h1>Get a Client ID and Secret</h2>
		After creating your SoundCloud account, visit your <a href="http://soundcloud.com/you/apps/">developer page</a> and <a href="http://soundcloud.com/you/apps/new">register</a> a new app. You will need to provide a website url and a redirect; you can use whatever url you want at this point, because our app will not be authenticating with SoundCloud.
		<aside>If you did want to authenticate, your redirect page would need to end in <span class="special">callback.html</span>. You can read more about it and get a sample page <a href="https://developers.soundcloud.com/docs/api/sdks#authentication">here</a>.
		</aside>
	</section>
	<section>
		As you can see, you will now have a <span class="special">Client ID</span> and <span class="special">Secret</span>, the former of which you will need to use in your interactions with the API. Hold on to that!
		<img src="/images/newapp.jpg">
	</section>
	<section>
		That part was not too painful. Now on to the fun stuff!
	</section>
</article>