<!-- 
	** Author: Collin James, CS 290
	** Date: 5/18/16
	** Description: Activity: How-To Guide
-->
<article>
	<section>
		Welcome to a tutorial of some basic functions of the SoundCloud API. SoundCloud.com is a music sharing and streaming platform for artists. The <a href="https://developers.soundcloud.com/docs/api/reference">official documentation</a> for the HTTP API is complete, but there is no sample application for the pure HTTP calls.
	</section>

	<section>
		Thus, this guide will walk you through creating a simple application using the SoundCloud HTTP API. The application will display a SoundCloud user's information in a useful way, and will look like this:
		<img src="/images/final.jpg"> Topics covered will include:
		<ul>
			<li><a href="/?topic=getting_access">Getting Access to the API</a></li>
			<li><a href="/?topic=searching_for_user_information">Searching for User Information</a></li>
			<li><a href="/?topic=getting_user_information">Getting a User's Information</a></li>
			<li><a href="/?topic=getting_track_information">Getting Track Information</a></li>
			<li><a href="/?topic=getting_comment_information">Getting Comment Information</a></li>
			<li><a href="/?topic=putting_it_together">Putting It All Together</a></li>
		</ul>
	</section>
	<section>
		This guide is meant to illustrate a practical use of the SoundCloud API, but is by no means a complete reference. For that, head over to the <a href="https://developers.soundcloud.com/docs/api/reference">official documentation</a>. 
	</section>
</article>