<!-- 
	** Author: Collin James, CS 290
	** Date: 5/10/16
	** Description: Activity: Get and Post checker, test page
-->
<article>
	<section>
		Welcome to a tutorial of some basic functions of the SoundCloud API. SoundCloud.com is a music sharing and streaming platform for artists.
	</section>

	<section>
		This guide will walk you through creating a simple application using the SoundCloud API. The application will display a SoundCloud user's information in a useful way, and will look like this: [[picture of finished page]]. Topics covered will include:
		<ul>
			<li><a href="/?topic=getting_access">Getting Access to the API</a></li>
			<li><a href="/?topic=searching_for_user_information">Searching for User Information</a></li>
			<li><a href="/?topic=getting_user_information">Getting a User's Information</a></li>
			<li><a href="/?topic=getting_track_information">Getting Track Information</a></li>
			<li><a href="/?topic=getting_comment_information">Getting Comment Information</a></li>
			<li><a href="/?topic=putting_it_together">Putting It All Together</a></li>
		</ul>
	</section>
	<section>
		This guide is meant to be an example of a practical use of the SoundCloud API, but is by no means a complete reference for the API. For that, head over to the official documentation. 
	</section>
</article>
<footer>
</footer>