<!-- 
	** Author: Collin James, CS 290
	** Date: 5/10/16
	** Description: Activity: How-To Guide
-->
<article>
	<section>
		Now that we have access to the API, let's start building our app. Remember, we want to display a user's name, a list of tracks, and some information about each track. To get started with any of this, we first need to search for our user. 
		<aside>
			If you want other users of your app to be able to login themselves, you'll need to use the <span class="special">connect</span> endpoint instead of this approach. In that case, the <a href="https://developers.soundcloud.com/docs/api/sdks#javascript">Javascript</a>, <a href="https://github.com/soundcloud/soundcloud-ruby">Ruby</a>, or <a href="">Python</a> wrappers for the HTML API.
		</aside>
	</section>
	<section>
		<h1>Making a Basic Call</h1>
		<p>A basic call in the API looks like this:</p>
		<code rel="Terminal">
			curl "https://api.soundcloud.com/users?client_id=k345ee556p456i45645t456s56e456c45ret"
		</code>
		<p>This code wouldn't actually give us any information, but it represents the basic structure of the calls. Notice the <span class="special">users</span> folder; that will change to <span class="special">tracks</span> or <span class="special">groups</a> depending on the information you would like to reach. And of course, none of this will work without a <span class="special">client_id</span>. </p>
	</section>
	<section>
		<h1>Search with 'q'</h1>
		We need a user ID to access information about tracks and other interesting things, but we only have a name in mind: enter the <span class="special">q</span> parameter.
	</section>
	<section>
		
		<img src="">
	</section>
	<section>
		That part was not too painful. Now on to the fun stuff!
	</section>
</article>
<footer>
</footer>